{block #content}
	<h1>Články</h1>
	<br />
	<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
		<tr>
			<td>Titulek</td>
			<td>Author</td>
			<td>Vytvořeno</td>
			<td>Text</td>
			<td>Náhled</td>
			<td></td>
		</tr>
		<tr n:foreach="$articles as $article">
			<td>{$article->title}</td>
			<td>{$article->ref("account","author")->username}</td>
			<td style="width: 130px">{$article->publishDate|date: "H:i:s d.n.Y"}</td>
			<td style="text-align: justify">{$article->text|truncate: 70}</td>
			<td style="text-align: center !important;">
				<img n:img="Articles/{$article->thumbnail}, 50x50, exact" class="img-circle">
			</td>
			<td>
				<a n:href="Articles:edit $article->id"><i class="glyphicon glyphicon-edit" rel="tooltip" title="Upravit článek"></i></a>
				<a n:href="deleteArticle! $article->id"><i class="glyphicon glyphicon-trash" rel="tooltip" title="Smazat článek"></i></a>
				<a n:href=":Article:view $article->id"><i class="glyphicon glyphicon-search" rel="tooltip" title="Ukázat článek"></i></a>
			</td>
		</tr>
	</table>
{/block}