{block #content}
	<div class="hero-unit">
	<div class="row">
	<div class="col-md-3 text-center">
		<div class="avatar">
			{if isset($profilePicture) and $profilePicture}
				<img n:img="avatars/{$profilePicture->avatar}, 180x180, exact" style="border-radius: 999px;border: 10px solid rgba(0, 0, 0, 0.1);">
			{else}
				<img src="{$basePath}/images/noAvatar.png" width="180" height="180" style="border-radius: 999px;border: 10px solid rgba(0, 0, 0, 0.1);">
			{/if}
		</div>
	</div>
	<div class="col-md-9">
	<h1>
		{$profileUser->username}
		<span class="profileAnchor" rel="tooltip" title="Odkaz na tento profil">#</span>
			<span class="showLink">
				<a href="{$webAdress}/view/{$profileUser->id}" alt="Black Death Mists of Pandaria profile for {$profileUser->username}">
					{$webAdress}/view/{$profileUser->id}
				</a>
			</span>
		{if $profileUser->online}
			<div class='greenPoint'></div>
		{else}
			<div class='redPoint'></div>
		{/if}
	</h1>
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a href="#info" data-toggle="tab">Informace</a>
		</li>
		<li>
			<a href="#characters" data-toggle="tab">Postavy</a>
		</li>
		<li>
			<a href="#settings" data-toggle="tab">Nastavení</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="info">
		<table class="account table table-responsive">
			<tr>
				<td>Účet založen:</td>
				<td>{$profileUser->joindate|date: "H:i:s d.n.Y"}</td>
			</tr>
			<tr>
				<td>Poslední přihlášení do hry:</td>
				<td>
					{if $profileUser->last_login == "-0001-11-30 00:00:00"}
						Nikdy nepřihlášen
					{else}
						{$profileUser->last_login|date: "H:i:s d.n.Y"}
					{/if}
				</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{$profileUser->email}</td>
			</tr>
			<tr>
				<td>IP adresa
					<i class="glyphicon glyphicon-question-sign" rel="tooltip"
					   title="Tohle je vaše soukromá IP adresa. Můžete ji potřebovat v případě unbanu."></i>:
				</td>
				<td>{$profileUser->last_ip}
				</td>
			</tr>
			<tr>
				<td>Aktivní datadisk:</td>
				<td>{$profileUser->expansion|getDatadisk}</td>
			</tr>
			{if $recruiter}
				<tr>
					<td>Recruiter<i class="glyphicon glyphicon-question-sign" rel="tooltip"
									title="Tento uživatel vás na server pozval a díky němu máte zkušenostní bonus."></i>:
					</td>
					<td><a n:href="Profile:view $recruiter->id">{$recruiter->username}</a></td>
				</tr>
			{/if}
		</table>
	</div>
	<div class="tab-pane fade" id="characters">
		<table class="characters table table-bordered table-striped">
			<tr>
				<th>Jméno</th>
				<th>Úroveň</th>
				<th>Rasa</th>
				<th>Povolání</th>
				<th>Status</th>
			</tr>
			<tr n:foreach="$characters as $character">
				<td>
					<a n:href=":Character:view $character->guid, strtolower($character->name)">
						{$character->name}
					</a>
				</td>
				<td>
					<a n:href=":Character:view $character->guid, strtolower($character->name)">
						{$character->level}
					</a>
				</td>
				<td style="text-align: center">
					<a n:href=":Character:view $character->guid, strtolower($character->name)">
						<img src="{$basePath}/images/races/{$character->race}{$character->gender}.jpg">
					</a>
				</td>
				<td style="text-align: center">
					<a n:href=":Character:view $character->guid, strtolower($character->name)">
						<img src="{$basePath}/images/classes/{$character->class}.jpg">
					</a>
				</td>
				<td class="text-center">
					{if $character->online}
						<div class='greenPoint'></div>
					{else}
						<div class='redPoint'></div>
					{/if}
				</td>
			</tr>
			{if !isset($character)}
				<td colspan="5">Nemáte žádné postavy</td>
			{/if}
		</table>
	</div>
	<div class="tab-pane fade" id="settings">
		<div class="options">
			<!--h3>Bany</h3>

			<div class="btn btn-info">Zkontrolovat Account Ban</div>
			<div class="btn btn-info">Zkontrolovat IP Ban</div-->
			<h3>Účet</h3>

			<a href="#pictureEdit" data-toggle="modal" class="btn btn-primary">Upravit profilovou fotku</a>

			<div id="pictureEdit" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						{form editPictureForm}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">Změna profilového obrázku</h3>
							</div>
							<div class="modal-body">
								<table>
									<tr>
										<td>
											{label profilePicture /}
										</td>
										<td>
											{input profilePicture}
										</td>
								</table>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
								{input send class => "btn btn-primary"}
							</div>
						{/form}
					</div>
				</div>
			</div>

			<div href="#editPassword" data-toggle="modal" class="btn btn-inverse">Změnit heslo</div>
			<div id="editPassword" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						{form changePasswordForm}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">Změna hesla</h3>
							</div>
							<div class="modal-body">
								<table>
									<tr>
										<td>
											{label password_actual /}
										</td>
										<td>
											{input password_actual}
										</td>
									</tr>
									<tr>
										<td>
											{label password1 /}
										</td>
										<td>
											{input password1}
										</td>
									</tr>
									<tr>
										<td>
											{label password2 /}
										</td>
										<td>
											{input password2}
										</td>
									</tr>
								</table>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
								{input send class => "btn btn-primary"}
							</div>
						{/form}
					</div>
				</div>
			</div>
			<div href="#editEmail" data-toggle="modal" class="btn btn-inverse">Změnit email</div>
			<div id="editEmail" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						{form changeEmailForm}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">Změna emailu</h3>
							</div>
							<div class="modal-body">
								<table>
									<tr>
										<td>
											{label email_actual /}
										</td>
										<td>
											{input email_actual}
										</td>
									</tr>
									<tr>
										<td>
											{label email1 /}
										</td>
										<td>
											{input email1}
										</td>
									</tr>
									<tr>
										<td>
											{label email2 /}
										</td>
										<td>
											{input email2}
										</td>
									</tr>
								</table>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
								{input send class => "btn btn-primary"}
							</div>
						{/form}
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
{/block}