{block #content}
	<ol class="breadcrumb">
		<li><a n:href=":Forum:Homepage:default">Home</a></li>
		{if isset($parentCategory->title)}
			<li><a n:href="category:view $parentCategory->id, $parentCategory->webalized">{$parentCategory->title}</a></li>
		{/if}
		<li class="active"><a n:href="category:view $selectedCategory->id, $selectedCategory->webalized">{$selectedCategory->title}</a></li>
	</ol>
	{if}
	{foreach $topics as $topic}
		<div class="category">
			<div class="row">
				<div class="col-md-6">
					<a n:href=":Forum:Topic:view $topic->id, $topic->webalized">
						<h4>
							{if $topic->isLocked}
								<i class="glyphicon glyphicon-lock" rel="tooltip" title="Toto téma je uzamčeno"></i>
							{/if}
							{$topic->title}</h4>
						<small>{$topic->description}</small>
					</a>
				</div>
				<div class="col-md-3 text-center" style="margin-top: 20px;">
					<a n:href=":Profile:view $topic->author">
						<small>{$topic->author|getAuthorName}</small>
					</a>
				</div>
				<div class="col-md-3 text-center" style="margin-top: 10px;">
					<a n:href=":Forum:Topic:view $topic->id, $topic->webalized">
						<small>
							{capture $postsCount}{$topic->id|getPostsCount}{/capture}
							{if $postsCount == 1}
								{$postsCount} příspěvek
							{elseif $postsCount == 2 or $postsCount == 3 or $postsCount == 4}
								{$postsCount} příspěvky
							{elseif $postsCount > 4}
								{$postsCount} příspěvků
							{else}
								0 příspěvků
							{/if}
							<br />
							{$topic->lastUpdated|date: "H:i:s d.n.Y"}
						</small>
					</a>
				</div>
			</div>
		</div>
	{/foreach}
	{else}
		Není žádné téma.
	{/if isset($topic)}
{/block}