{block #content}
	{foreach $categories as $category}
		<div class="category">
			<div class="row">
				<div class="col-md-12">
					{if $category['isLink'] == TRUE}
						<a href="{$category['link']}" rel="tooltip" title="externí odkaz">
							<h4><i class="glyphicon glyphicon-link"></i> {$category["title"]}</h4>
							<small>{$category["description"]}</small>
						</a>
					{else}
						<a n:href="Category:view $category['id'], $category['webalized']">
							<h4>{$category["title"]}</h4>
							<small>{$category["description"]}</small>
						</a>
					{/if}
				</div>
				{if}
					<div class="clearfix"></div>
					<div class="subs">
					{foreach $category["subCategories"] as $subcategories}
						<div n:class="subcategory, $iterator->first ? first">
							{if $subcategories->isLink == TRUE}
								<a href="http://{$subcategories->link}" rel="tooltip" title="externí odkaz">
									<h4><i class="glyphicon glyphicon-link"></i> {$subcategories->title}</h4>
									<small>{$subcategories->description}</small>
								</a>
							{else}
								<a n:href="Category:view $subcategories->id, $category['webalized'], $subcategories->webalized">
									<h4>{$subcategories->title}</h4>
									<small>{$subcategories->description}</small>
								</a>
							{/if}
						</div>
						{if !$iterator->last}
							<hr />
						{/if}
					{/foreach}
					</div>
				{/if isset($subcategories)}
			</div>
		</div>
	{/foreach}

	{*
	<div class="category">
		<div class="row">
			<div class="col-md-12">
				{if $category->isLink == TRUE}
					<a href="http://{$category->link}">
						<h4><i class="glyphicon glyphicon-link"></i> {$category->title}</h4>
						<small>{$category->description}</small>
					</a>
				{else}
					<a n:href="category:view $category->id, $category->webalized">
						<h4>{$category->title}</h4>
						<small>{$category->description}</small>
					</a>
				{/if}
			</div>
		</div>
	</div>*}
{/block}