{block #content}
	<h1>Stránky</h1>
	<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
		<tr>
			<th>Titulek</th>
			<th>Autor</th>
			<th>Publikováno</th>
			<th>Upraveno</th>
			<th>Text</th>
			<th></th>
		</tr>
		<tr n:foreach="$pages as $page">
			<td>
				{$page->title}
			</td>
			<td>
				{$page->ref("account", "author")->username}
			</td>
			<td>
				{$page->publishDate|date: "H:i:s d.n.Y"}
			</td>
			<td>
				{if $page->editDate != "-0001-11-30 00:00:00"}
					{$page->editDate|date: "H:i:s d.n.Y"}
				{/if}
			</td>
			<td>
				{!$page->text}
			</td>
			<td>
				<a n:href="deletePage! $page->id">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
				<a n:href="Pages:edit $page->id">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
			</td>
		</tr>
	</table>
{/block}