<div class="3Drender" style="border-radius: 3px;border: 10px solid #1B1B1B">
	<div id="model_scene" align="center" style="height: 400px;">
		<object type="application/x-shockwave-flash" data="http://wow.zamimg.com/modelviewer/ZAMviewerfp11.swf" width="438" height="400">
			<param name="quality" value="high">
			<param name="allowscriptaccess" value="always">
			<param name="allowfullscreen" value="false">
			<param name="menu" value="false">
			<param name="bgcolor" value="#eeeeee">
			<param name="wmode" value="direct">
			<param name="flashvars"
				   value="model={$charactersData['rg']}&amp;modelType=16&amp;contentPath=http://wow.zamimg.com/modelviewer/&amp;equipList={$charactersData['eq']}&amp;sk=0&amp;ha=8&amp;hc=0&amp;fa=20&amp;fh=0&amp;fc=1&amp;mode=3">
		</object>
	</div>
</div>