<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}Panda Website{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="{$basePath}/css/admin.css"/>
	<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo+2:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
<script> document.documentElement.className += ' js' </script>
<div class="dashboard">
	<div class="logo"></div>
	<ul>
		<li n:class="$presenter->isLinkCurrent('Homepage:*') ? active" n:if="$user->isAllowed('Admin:Homepage')">
			<a n:href="Homepage:default">hlavní stránka</a>
		</li>
		<li n:class="$presenter->isLinkCurrent('Articles:*') ? active" n:if="$user->isAllowed('Admin:Articles')">
			<a n:href="Articles:default">články</a>
		</li>
		<li n:class="$presenter->isLinkCurrent('Slider:*') ? active" n:if="$user->isAllowed('Admin:Slider')">
			<a n:href="Slider:default">Slider</a>
		</li>
		<li n:class="$presenter->isLinkCurrent('Changelog:*') ? active" n:if="$user->isAllowed('Admin:Changelog')">
			<a n:href="Changelog:default">Changelog</a>
		</li>
		<li n:class="$presenter->isLinkCurrent('Pages:*') ? active" n:if="$user->isAllowed('Admin:Pages')">
			<a n:href="Pages:default">Stránky</a>
		</li>
	</ul>
	<div class="controls">
		<a n:href=":Homepage:default">
			<img src="https://cdn1.iconfinder.com/data/icons/ballicons-free/128/browser.png" width="50" rel="tooltip" title="Zobrazit web"></i>
		</a>
	</div>
</div>
<div class="content">
	{control submenu}
	<br/>

	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{$flash->message}
	</div>
	{include content}
</div>

{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="{$basePath}/js/stellar.js"></script>
	<script type="text/javascript" src="{$basePath}/ckeditor/ckeditor.js"></script>
	<script src="{$basePath}/js/admin.js"></script>
	<script type="text/javascript">
		$(window).load(function () {
			$('#slider').nivoSlider({
				effect: "fade",
				pauseOnHover: false,
				directionNav: false,
				controlNav: false
			});
		});
	</script>
{/block}
</body>
</html>
