{block #content}
	<ol class="breadcrumb">
		<li><a n:href=":Forum:Homepage:default">Home</a></li>
		{if isset($parent->title)}
			<li><a n:href=":Forum:Category:view $parent->id, $parent->webalized">{$parent->title}</a></li>
		{/if}
		<li><a n:href="category:view $category->id, $parent->webalized, $category->webalized">{$category->title}</a></li>
		<li class="active"><a n:href=":Forum:Topic:view $topic->id, $topic->webalized">{$topic->title}</a></li>
	</ol>
	{if $topic->isLocked}
		<div class="topicAlert alert-warning">
			Toto téma je uzamčeno, nelze do něj přidávat příspěvky.
		</div>
	{/if}
	{foreach $posts as $reply}
		<div class="post">
			<div class="row">
				<div class="col-md-2" style="text-align: center;">
					<h3><a n:href=":Profile:view $reply->author">{$reply->author|getAuthorName}</a></h3>
					{if $reply->author|getAuthorPicture}
						{capture $avatar}{$reply->author|getAuthorPicture}{/capture}
						<img n:img="avatars/{$avatar}, 100x100, exact" style="border-radius: 999px;border: 10px solid rgba(0, 0, 0, 0.1);margin-bottom: 10px;">
					{else}
						<img src="{$basePath}/images/noAvatar.png" width="180" height="180"
							 style="border-radius: 999px;border: 10px solid rgba(0, 0, 0, 0.1);margin-bottom: 10px;">
					{/if}
					<div class="text-center">
						{$reply->created|date: "H:i:s d.n.Y"}
					</div>
				</div>
				<div class="col-md-10">
					<div class="text">
						{!$reply->text}
					</div>
				</div>
			</div>
		</div>
	{/foreach}
	<br/>
	{*<ol class="breadcrumb">
		<li><a n:href=":Forum:Homepage:default">Home</a></li>
		<li>
			<a n:href="category:view $topic->categories_id, $topic->ref('categories', 'categories_id')->webalized">{$topic->ref("categories", "categories_id")->name}</a>
		</li>
		<li class="active"><a n:href="post:view $topic->id">{$topic->title}</a></li>
	</ol>*}
{/block}