{block #content}
	<h1>Changelog</h1>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#reported">
						Reported
					</a>
				</h4>
			</div>
			<div id="reported" class="panel-collapse collapse">
				<div class="panel-body">
					<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
						<tr>
							<th>Milestone</th>
							<th>Title</th>
							<th>Description</th>
							<th>Image</th>
							<th>Video</th>
							<th>Author</th>
							<th>Status</th>
							<th></th>
						</tr>
						{foreach $changelogReported as $record}
							<tr>
								<td>{$record->milestone}</td>
								<td>{$record->title}</td>
								<td>{$record->description}</td>
								<td><a href="{$record->image}">{$record->image}</a></td>
								<td><a href="{$record->video}">{$record->video}</a></td>
								<td>{$record->ref("account", "author")->username}</td>
								<td>{$record->status}</td>
								<td>
									<a n:href="Changelog:edit $record->id"><i class="glyphicon glyphicon-edit"></i> </a>
								</td>
							</tr>
						{/foreach}
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#verified">
						Verified
					</a>
				</h4>
			</div>
			<div id="verified" class="panel-collapse collapse">
				<div class="panel-body">
					<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
						<tr>
							<th>Milestone</th>
							<th>Title</th>
							<th>Description</th>
							<th>Image</th>
							<th>Video</th>
							<th>Author</th>
							<th>Status</th>
							<th></th>
						</tr>
						{foreach $changelogVerified as $record}
							<tr>
								<td>{$record->milestone}</td>
								<td>{$record->title}</td>
								<td>{$record->description}</td>
								<td><a href="{$record->image}">{$record->image}</a></td>
								<td><a href="{$record->video}">{$record->video}</a></td>
								<td>{$record->ref("account", "author")->username}</td>
								<td>{$record->status}</td>
								<td>
									<a n:href="Changelog:edit $record->id"><i class="glyphicon glyphicon-edit"></i> </a>
								</td>
							</tr>
						{/foreach}
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#resolving">
						Resolving
					</a>
				</h4>
			</div>
			<div id="resolving" class="panel-collapse collapse">
				<div class="panel-body">
					<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
						<tr>
							<th>Milestone</th>
							<th>Title</th>
							<th>Description</th>
							<th>Image</th>
							<th>Video</th>
							<th>Author</th>
							<th>Status</th>
							<th></th>
						</tr>
						{foreach $changelogResolving as $record}
							<tr>
								<td>{$record->milestone}</td>
								<td>{$record->title}</td>
								<td>{$record->description}</td>
								<td><a href="{$record->image}">{$record->image}</a></td>
								<td><a href="{$record->video}">{$record->video}</a></td>
								<td>{$record->ref("account", "author")->username}</td>
								<td>{$record->status}</td>
								<td>
									<a n:href="Changelog:edit $record->id"><i class="glyphicon glyphicon-edit"></i> </a>
								</td>
							</tr>
						{/foreach}
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#fixed">
						Fixed
					</a>
				</h4>
			</div>
			<div id="fixed" class="panel-collapse collapse">
				<div class="panel-body">
					<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
						<tr>
							<th>Milestone</th>
							<th>Title</th>
							<th>Description</th>
							<th>Image</th>
							<th>Video</th>
							<th>Author</th>
							<th>Status</th>
							<th></th>
						</tr>
						{foreach $changelogFixed as $record}
							<tr>
								<td>{$record->milestone}</td>
								<td>{$record->title}</td>
								<td>{$record->description}</td>
								<td><a href="{$record->image}">{$record->image}</a></td>
								<td><a href="{$record->video}">{$record->video}</a></td>
								<td>{$record->ref("account", "author")->username}</td>
								<td>{$record->status}</td>
								<td>
									<a n:href="Changelog:edit $record->id"><i class="glyphicon glyphicon-edit"></i> </a>
								</td>
							</tr>
						{/foreach}
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#web">
						Web
					</a>
				</h4>
			</div>
			<div id="web" class="panel-collapse collapse">
				<div class="panel-body">
					<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
						<tr>
							<th>Milestone</th>
							<th>Title</th>
							<th>Description</th>
							<th>Image</th>
							<th>Video</th>
							<th>Author</th>
							<th>Status</th>
							<th></th>
						</tr>
						{foreach $changelogWeb as $record}
							<tr>
								<td>{$record->milestone}</td>
								<td>{$record->title}</td>
								<td>{$record->description}</td>
								<td><a href="{$record->image}">{$record->image}</a></td>
								<td><a href="{$record->video}">{$record->video}</a></td>
								<td>{$record->ref("account", "author")->username}</td>
								<td>{$record->status}</td>
								<td>
									<a n:href="Changelog:edit $record->id"><i class="glyphicon glyphicon-edit"></i> </a>
								</td>
							</tr>
						{/foreach}
					</table>
				</div>
			</div>
		</div>
	</div>
{/block}