{block #content}
	<div class="changelog">
		<h1>Archiv</h1>

		<table class="table table-bordered table-striped">
			<tr>
				<th></th>
				<th>Nadpis</th>
				<th>Popis</th>
				<th>Status</th>
				{if $user->isAllowed("ChangelogAdmin")}
					<th></th>
				{/if}
			</tr>
			{if}
				{foreach $records as $record}
					<tr>
						<td>{$record->milestone}</td>
						<td>{$record->title}</td>
						<td>{!$record->description}</td>
						<td>{$record->status}</td>
						{if $user->isAllowed("ChangelogAdmin")}
							<td>
								<a n:href="Admin:changelog:edit $record->id"><i class="glyphicon glyphicon-edit"></i></a>
								<a n:href="deleteRecord! $record->id"><i class="glyphicon glyphicon-trash"></i></a>
							</td>
						{/if}
					</tr>
				{/foreach}
			{else}
				<tr>
					<td>Není žádný záznam.</td>
				</tr>
			{/if isset($record)}
		</table>

		<div class="text-center">
			{control vp}
		</div>
	</div>
{/block}