{block #content}
	<div class="changelog">
		<h2>
			<span class="{$record->status}">[{$record->status}]</span>
			{$record->title}
		</h2>

		<div class="pull-left">
			Typ chyby: {$record->milestone}<br/>
			Autor: {$record->ref("account", "author")->username}
		</div>
		<div class="pull-right">
			{if $user->isAllowed("ChangelogAdmin")}
				<a n:href="Admin:Changelog:edit $record->id"><i class="glyphicon glyphicon-edit"></i></a>
				<a n:href="deleteRecord! $record->id"><i class="glyphicon glyphicon-trash"></i></a>
			{/if}
		</div>
		<div class="clearfix"></div>
		<hr/>
		{if $record->video}
			<div class="video">
				<iframe style="{if $record->image}float:left; width: 50%;{else}width: 100%;{/if}"
						src="https://www.youtube.com/embed/{$record->video|getVideoId}"
						frameborder="0" allowfullscreen></iframe>
			</div>
			{if !$record->image}
				<hr/>
			{/if}
		{/if}
		{if $record->image}
			<div class="image">
				<a href="{$record->image}" target="_blank">
					<img style="{if $record->video}float:left; width: 50%;{else}width: 100%;{/if}" src="{$record->image}"/>
				</a>
			</div>
			{if !$record->video}
				<hr/>
			{/if}
		{/if}
		{if $record->video and $record->image}
			<div class="clearfix"></div>
			<hr/>
		{/if}
		<p>
			{!$record->description}
		</p>
	</div>
{/block}