{block #content}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>
				{dump $character}
				{if $character->online}
					<div class='greenPoint'></div>
				{else}
					<div class='redPoint'></div>
				{/if}
				{$character->name}
				{if $character->account == $user->identity->id}
					<span class="charAnchor" rel="tooltip" title="Odkaz na tuto postavu">#</span>
					<span class="showCharLink">
					<a href="{$webAdress}" alt="Black Death Mists of Pandaria Character for {$character->name}">
						{$webAdress}
					</a>
				</span>
				{/if}
			</h1>
			<h4>
				{$character->level}
				{$character->race|getRaceText}
				{$character->gender ? "Female" : "Male"}
				{$character->talentTree|getTalentSpec:$character->class}
				{$character->class|getClassText}
				<br/>
				{if isset($guild)}
				<span class="guild" rel="tooltip" title="Guild level {$guild->level}">
					&lt;{$guild->name}&gt;
				</span>
				<br/>
				{/if}
				{$achievementsCount} Achievementů
				<br/>

				<div class="bar">
					<div class="health" rel="tooltip" title="Život">
						{$character->health}
					</div>
					{if
					$character->class == 2 ||
					$character->class == 3 ||
					$character->class == 5 ||
					$character->class == 7 ||
					$character->class == 8 ||
					$character->class == 9
					}
						<div class="mana" rel="tooltip" title="Mana">
							{$character->power1}
						</div>
					{/if}
					{if $character->class == 1}
						<div class="rage" rel="tooltip" title="Rage">
							{$character->power2}
						</div>
					{/if}
					{if $character->class == 4}
						<div class="focus" rel="tooltip" title="Focus">
							{$character->power3}
						</div>
					{/if}
					{if $character->class == 10}
						<div class="mana" rel="tooltip" title="Mana">
							{$character->power1}
						</div>
						<div class="focus" rel="tooltip" title="Focus">
							{$character->power2}
						</div>
					{/if}
					{if $character->class == 11}
						<div class="mana" rel="tooltip" title="Mana">
							{$character->power1}
						</div>
						<div class="focus" rel="tooltip" title="Focus">
							{$character->power3}
						</div>
					{/if}
				</div>
				<div class="info">
					<div class="totalKills">
						<img width="15" rel="tooltip" title="Total kills" src="http://bnetcmsus-a.akamaihd.net/cms/forum_icon/LZUR1I7TWKB21288055964704.gif"/>
						{$character->totalKills}
					</div>
					<div class="totalHonors">
						<img width="15" rel="tooltip" title="Total Honors"
							 src="http://img2.wikia.nocookie.net/__cb20110109182312/wowwiki/images/d/dd/Pvpcurrency-conquest-horde.png">
						{$topHonors->Quantity / 100}
					</div>
					<div class="totalUptime">
						<img width="15" rel="tooltip" title="Total Uptime" src="http://wow.zamimg.com/images/wow/icons/large/ability_mage_timewarp.jpg"/>
						{$character->totaltime|getTimeFromSeconds}
					</div>
				</div>
				<div class="clearfix"></div>
			</h4>
			<hr/>
			<h5>Armory</h5>

			<div class="armory">
				{foreach $icons as $item => $icon}
					<a href="http://www.wowhead.com/item={$item}" target="_blank" rel="item={$item}">
						<div class="icon" style="background-image: url(http://wow.zamimg.com/images/wow/icons/large/{$icon}.jpg);">
						</div>
					</a>
					{if $iterator->counter == 7}
						<div class="clearfix"></div>
					{/if}
				{/foreach}
			</div>
		</div>
		<!--div class="col-md-5">
			{control characterRender}
		</div-->
	</div>
{/block}