{block #content}
	<div class="block-article">
		<div class="row">
			<div class="col-md-12" style="margin-bottom: 25px">
				<a n:href=":Article:view $article->id, $article->webalized">
					<img n:img="Articles/{$article->thumbnail}, 1140x220, exact" alt="{$article->title}" style="width: 100%">
				</a>
			</div>
			<div class="col-md-12 article">
				<div class="title">
					<a n:href=":Article:view $article->id, $article->webalized">{$article->title}</a>

					<div class="articleInfo">
						Napsal: {$article->ref("account", "author")->username} | {$article->publishDate|date: "H:i:s d.n.Y"}
					</div>
				</div>
				<p style="text-align: justify">{!$article->text}</p>
			</div>
		</div>
		<div class="comments">
			<h4>Komentáře</h4>
			{if}
			{foreach $comments as $comment}
				<div class="row comment">
					<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
						{capture $authorPic}{$comment->author|getAuthorPicture}{/capture}
						{if $authorPic}
							<img n:img="avatars/{$authorPic}, 100x100, exact" class="img-circle img-responsive" rel="tooltip"
								 title="{$comment->ref("account", "author")->username}"/>
						{else}
							<img src="{$basePath}/images/noAvatar.png" width="100" height="100" class="img-circle img-responsive"
								 rel="tooltip" title="{$comment->ref("account", "author")->username}">
						{/if}
					</div>
					<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
						{$comment->publishDate|date: "H:i:s d.n.Y"}
						{if $user->isAllowed("Comments", "delete")}
							<div class="pull-right">
								<a n:href="deleteComment! $comment->id, $article->id">
									<i class="glyphicon glyphicon-trash"></i>
								</a>
							</div>
						{/if}
						<hr/>
						{!$comment->text}
					</div>
					<div class="col-md-12" style="height: 50px;"></div>
				</div>
			{/foreach}
			{else}
			Není zatím žádný komentář.
			{/if isset($comment)}
			{if $user->isLoggedIn()}
				<br/>
				<br/>
				<h4>Napište komentář</h4>
				{form addCommentForm}
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{input text, class => "form-control"}
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center island island-top">
							{input send, class => "btn btn-success"}
						</div>
					</div>
				{/form}
			{else}
				Nejste přihlášen(a), proto nemůžete napsat komentář.
			{/if}
		</div>
	</div>
{/block}