{block #content}
	<div class="register container">
		<h1>Registrace</h1>

		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="infoHint">
					<p>
						Použijte opravdu <b>Váš email</b> a ne smyšlený,
						v případě <b>ztráty hesla</b> či jiných problémech,
						budeme zasílat informace na daný email.
					</p>
				</div>
				{control registerForm}
			</div>
		</div>
	</div>
{/block}