{block #content}
	<h1>Slider</h1>
	<br/>
	<table class="table table-bordered table-striped" style="width: 1000px;margin: 0 auto;">
		<tr>
			<td>Slide</td>
			<td></td>
		</tr>
		<tr n:foreach="$slides as $slide">
			<td style="text-align: center">
				<img n:img="slides/{$slide->slide}, 900x300, exact" class="img-polaroid">
			</td>
			<td>
				<a n:href="deleteSlide! $slide->id"><i class="glyphicon glyphicon-trash" rel="tooltip" title="Smazat slide"></i></a>
				<a n:href="moveUp! $slide->id"><i class="glyphicon glyphicon-arrow-up" rel="tooltip" title="Posunout slide nahoru"></i></a>
				<a n:href="moveDown! $slide->id"><i class="glyphicon glyphicon-arrow-down" rel="tooltip" title="Posunout slide dolu"></i></a>
			</td>
		</tr>
	</table>
{/block}