<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}Black Death Forum | Mists of Pandaria{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="{$basePath}/css/style.css"/>
	<link rel="stylesheet" href="{$basePath}/css/forum.css"/>
	<link rel="stylesheet" href="{$basePath}/css/nivo-slider.css"/>
	<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo+2:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico">

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="{$basePath}/js/stellar.js"></script>
	<script type="text/javascript" src="{$basePath}/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
	<script>var wowhead_tooltips = {"colorlinks": false, "iconizelinks": true, "renamelinks": true}</script>
	<script type="text/javascript">
		$(window).load(function () {
			$('#slider').nivoSlider({
				effect: "fade",
				pauseOnHover: false,
				directionNav: false,
				controlNav: true
			});
		});
	</script>
	{block head}{/block}
</head>

<body>
<script> document.documentElement.className += ' js' </script>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" n:href=":Forum:Homepage:default">Black Death</a>
			<a class="navbar-brand" style="padding-left: 30px;" n:href=":Homepage:default">Server</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{foreach $pages as $page}
					<li n:class="$presenter->isLinkCurrent(':Pages:view', $page->id) ? active"><a n:href=":Pages:view $page->id, $page->webalized">{$page->title}</a></li>
				{/foreach}
				<li n:class="$presenter->isLinkCurrent(':Changelog:add') ? active" n:if="$user->isAllowed('Changelog')">
					<a n:href=":Changelog:add">Nahlásit chybu</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right hidden-md">
				{if $user->isLoggedIn()}
					<li id="profile" n:class="show, $presenter->isLinkCurrent(':Profile:*') ? active"><a n:href=":Profile:default">Profil</a></li>
					<li id="sign-out" class="show"><a n:href=":Sign:out">Odhlásit se</a></li>
				{else}
					<li id="sign-up" class="show"><a n:href=":Register:default">Registrovat se</a></li>
					<li id="sign-in" class="show"><a href="#myModal" data-toggle="modal">Přihlásit se</a></li>
					<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								{form signInForm}
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Přihlášení</h4>
									</div>
									<div class="modal-body">
										{control signInForm}
									</div>
								{/form}
							</div>
						</div>
					</div>
				{/if}
			</ul>
		</div>
	</div>
</div>
<div class="fix" style="margin-top: 50px"></div>
<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissable">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{$flash->message}
</div>
<div class="header" data-stellar-background-ratio="0.5">
	<div class="container headerText">
		<a n:href=":Forum:Homepage:default">
			<h1>Black Death</h1>

			<h2>Mists of Pandaria {$presenter->context->parameters["serverType"]}</h2>
		</a>
	</div>
</div>
<div class="headerFix"></div>
<div class="wrap">
	<div class="container" style="padding-top: 25px">
		{include #content}
	</div>
	<div class="subfooter">
		<div class="container">
		</div>
	</div>
</div>
<div class="footer">
	<div class="footerLogo"></div>
	<div class="container">
		Autorská práva vztahující se k těmto webovým stránkám náleží projektu Black Death Mists of Pandaria, nebo uvedeným autorům,
		kromě trademarků a dalších prvků, které jsou vlastněny jejich majiteli. Veškerá práva jsou vyhrazena.
		Kopírování, pozměňování, přenášení nebo šíření obsahu těchto webových stránek v jakékoliv formě bez souhlasu Black Death Mists of Pandaria není
		dovoleno.
		<br/>
		<br/>
		&copy; 2015 www.blackdeath.sk
	</div>
	<div class="pull-right" style="margin-right: 10px;">
		{$presenter->context->parameters["versionWeb"]}
	</div>
</div>
</body>
</html>
