{block #content}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="block-article">
                <h2>Novinky</h2>

                {foreach $lastArticles as $lastArticle}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <a n:href=":Article:view $lastArticle->id, $lastArticle->webalized">
                                <img class="img-responsive" n:img="Articles/{$lastArticle->thumbnail}, 250x220, exact" alt="{$lastArticle->title}">
                            </a>
                        </div>
                        <div class="mainArticle col-xs-12 col-sm-7 col-md-7 col-lg-7">
                            <div class="title">
                                <a n:href=":Article:view $lastArticle->id, $lastArticle->webalized">{$lastArticle->title}</a>
                            </div>
                            <p style="min-height: 140px;">
                                {if strlen($lastArticle->text) >= 300}
                                    {!$lastArticle->text|truncate: 300}
                                    <br/>
                                    <span class="readmore">
									<a n:href=":Article:view $lastArticle->id, $lastArticle->webalized">Více v celém
                                        článku</a>
								</span>
                                {else}
                                    {!$lastArticle->text}
                                {/if}
                            </p>
                            {$lastArticle->publishDate|date: "H:i:s d.n.Y"} |
                            <a n:href=":Article:view $lastArticle->id, $lastArticle->webalized">
                                {capture $commentsCount}
                                    {$lastArticle->id|getCommentsCount}
                                {/capture}
                                {if $commentsCount == 1}
                                    {$commentsCount} komentář
                                {elseif $commentsCount == 2 or $commentsCount == 3 or $commentsCount == 4}
                                    {$commentsCount} komentáře
                                {elseif $commentsCount > 4}
                                    {$commentsCount} komentářů
                                {else}
                                    0 komentářů
                                {/if}
                            </a>
                        </div>
                    </div>
                    <br/>
                {/foreach}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="block-article">
                <h2>Další články</h2>

                <div class="row">
                    <div class="post" n:foreach="$articles as $article">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <div class="col-xs-3 col-sm-4 col-md-3 col-lg-3">
                                <div class="image">
                                    <a n:href=":Article:view $article->id, $article->webalized">
                                        <img class="img-responsive" n:img="Articles/{$article->thumbnail}, 70x70, exact" alt="{$article->title}">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-8 col-md-7 col-lg-7" style="min-height: 75px;">
                                <div class="wrap">
                                    <div class="title">
                                        <a n:href=":Article:view $article->id, $article->webalized">{$article->title}</a>
                                    </div>
                                </div>
                                {$article->publishDate|date: "d.n.Y"} |
                                <a n:href=":Article:view $article->id, $article->webalized">
                                    {capture $commentsCount}
                                        {$article->id|getCommentsCount}
                                    {/capture}
                                    {if $commentsCount == 1}
                                        {$commentsCount} komentář
                                    {elseif $commentsCount == 2 or $commentsCount == 3 or $commentsCount == 4}
                                        {$commentsCount} komentáře
                                    {elseif $commentsCount > 4}
                                        {$commentsCount} komentářů
                                    {else}
                                        0 komentářů
                                    {/if}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="topstatus col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="block-article">
                <h2>Top status</h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p>Top kills</p>
                        <table class="status table table-responsive table-striped">
                            {foreach $topKills as $topKill}
                                <tr>
                                    <td>
                                        <img style="width: 24%;" src="{$basePath}/images/races/{$topKill->race}{$topKill->gender}.jpg">
                                    </td>
                                    <td>
                                        {if $user->isLoggedIn()}
                                            <a n:href="Character:view $topKill->guid, $topKill->name">
                                                {$topKill->name}
                                            </a>
                                        {else}
                                            {$topKill->name}
                                        {/if}
                                    </td>
                                    <td class="text-right">
                                        {$topKill->totalKills}
                                    </td>
                                </tr>
                            {/foreach}
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p>Top honors</p>
                        <table class="status table table-responsive table-striped">
                            {foreach $topHonors as $topHonor}
                                <tr>
                                    <td>
                                        <img style="width: 24%;" src="{$basePath}/images/races/{$topHonor->CharacterGuid|getCharacterPicture}.jpg">
                                    </td>
                                    <td>
                                        {capture $honorName}{$topHonor->CharacterGuid|getCharacterName}{/capture}
                                        {if $user->isLoggedIn()}
                                            <a n:href="Character:view $topHonor->CharacterGuid, $honorName">
                                                {$honorName}
                                            </a>
                                        {else}
                                            {$honorName}
                                        {/if}
                                    </td>
                                    <td class="text-right">
                                        {$topHonor->Quantity / 100}
                                    </td>
                                </tr>
                            {/foreach}
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p>Top uptime</p>
                        <table class="status table table-responsive table-striped">
                            {foreach $topUptimes as $topUptime}
                                <tr>
                                    <td>
                                        <img style="width: 24%;" src="{$basePath}/images/races/{$topUptime->race}{$topUptime->gender}.jpg">
                                    </td>
                                    <td>
                                        {if $user->isLoggedIn()}
                                            <a n:href="Character:view $topUptime->guid, $topUptime->name">
                                                {$topUptime->name}
                                            </a>
                                        {else}
                                            {$topUptime->name}
                                        {/if}
                                    </td>
                                    <td class="text-right">
                                        {$topUptime->totaltime|getTimeFromSeconds}
                                    </td>
                                </tr>
                            {/foreach}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}