<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags}Black Death | Mists of Pandaria{/block}</title>

        <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="{$basePath}/css/style.css"/>
        <link rel="stylesheet" href="{$basePath}/css/nivo-slider.css"/>
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{$basePath}/images/favicon.ico">

        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/nette.form.validation.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{$basePath}/js/stellar.js"></script>
        <script type="text/javascript" src="{$basePath}/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
        <script>var wowhead_tooltips = {"colorlinks": false, "iconizelinks": true, "renamelinks": true}</script>
        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider({
                    effect: "fade",
                    pauseOnHover: false,
                    directionNav: false,
                    controlNav: true
                });
            });
        </script>
        {block head}{/block}
    </head>

    <body>
        <script> document.documentElement.className += ' js' </script>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" n:href=":Homepage:default">Black Death</a>
                    <a class="navbar-brand" style="padding-left: 30px;" n:href=":Forum:Homepage:default">Forum</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {foreach $pages as $page}
                            <li n:class="$presenter->isLinkCurrent(':Pages:view', $page->id) ? active">
                                <a n:href="Pages:view $page->id, $page->webalized">{$page->title}</a></li>
                        {/foreach}
                        <li n:class="$presenter->isLinkCurrent(':Changelog:add') ? active" n:if="$user->isAllowed('Changelog')">
                            <a n:href="Changelog:add">Nahlásit
                                chybu</a></li>
                        <!--li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
					<ul class="dropdown-menu">
						{foreach $pages as $page}
							<li><a n:href="Pages:view $page->id">{$page->title}</a></li>
						{/foreach}
					</ul>
				</li-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-md">
                        {if $user->isLoggedIn()}
                            <li id="profile" n:class="show, $presenter->isLinkCurrent(':Profile:default') ? active">
                                <a n:href="Profile:default">Profil</a></li>
                            <li id="sign-out" class="show"><a n:href="Sign:out">Odhlásit se</a></li>
                        {else}
                            <li id="sign-up" class="show"><a n:href="Register:default">Registrovat se</a></li>
                            <li id="sign-in" class="show"><a href="#myModal" data-toggle="modal">Přihlásit se</a></li>
                            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        {form signInForm}
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Přihlášení</h4>
                                            </div>
                                            <div class="modal-body">
                                                {control signInForm}
                                            </div>
                                        {/form}
                                    </div>
                                </div>
                            </div>
                        {/if}
                    </ul>
                </div>
            </div>
        </div>
        <div class="fix" style="margin-top: 50px"></div>
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {$flash->message}
        </div>
        <div class="header" data-stellar-background-ratio="0.5">
            <div class="container headerText">
                <a n:href=":Homepage:default">
                    <h1>Black Death</h1>

                    <h2>Mists of Pandaria {$presenter->context->parameters["serverType"]}</h2>
                </a>
            </div>
        </div>
        <div class="headerFix"></div>
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="serverStatus">
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="panel">
                                    <div class="changelogStatus">
                                        {foreach $changelog as $record}
                                            <div class="changelogItem">
                                                <a n:href="Changelog:view $record->id">
									<span class="{$record->status}">
										[{$record->status}]
									</span>
                                                    {$record->title|truncate: 25}
                                                </a>
                                            </div>
                                        {/foreach}
                                        <div style="height: 10px"></div>
                                        <div class="changelogItem text-center">
                                            <a n:href="Changelog:archive">
                                                Archiv bugtrackeru
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="panel">
                                    <div class="serverUsage text-center">
                                        {if $memoryUsage <= 50}
                                            <img src="{$basePath}/images/serverStatus_low.png" class="img-responsive img-center"/>
                                        {elseif $memoryUsage <= 75}
                                            <img src="{$basePath}/images/serverStatus_middle.png" class="img-responsive img-center"/>
                                        {else}
                                            <img src="{$basePath}/images/serverStatus_high.png" class="img-responsive img-center"/>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="panel">
                                    <div class="onlineStatus">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <img src="{$basePath}/images/allianceLogo.png" class="img-responsive"/>

                                            <div class="progressBar">
                                                <div class="alliance">{$charactersOnlineAlliance}</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <img src="{$basePath}/images/hordeLogo.png" class="img-responsive"/>

                                            <div class="progressBar">
                                                <div class="horde">{$charactersOnlineHorde}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="panel">
                                    <div class="serverInfo text-center">
                                        <p>

                                        <h3>Server je <span class="{$serverStatus}">{$serverStatus}</span></h3>
                                        </br>
                                        </br>
                                        {!$presenter->context->parameters["teamspeak"]}<br/>
                                        {if $serverStatus != "Offline"}
                                            Server beží již
                                            <span>{gmdate("H:i:s", $serverUptime)}</span>
                                        {/if}
                                        <br>
                                        {!$presenter->context->parameters["realmlist"]}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                {include #content}
            </div>
            <div class="subfooter">
                <div class="container">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footerLogo"></div>
            <div class="container">
                Autorská práva vztahující se k těmto webovým stránkám náleží projektu Black Death Mists of Pandaria,
                nebo uvedeným autorům,
                kromě trademarků a dalších prvků, které jsou vlastněny jejich majiteli. Veškerá práva jsou vyhrazena.
                Kopírování, pozměňování, přenášení nebo šíření obsahu těchto webových stránek v jakékoliv formě bez
                souhlasu Black Death Mists of Pandaria není
                dovoleno.
                <br/>
                <br/>
                &copy; 2015 www.blackdeath.sk
            </div>
            <div class="pull-right" style="margin-right: 10px;">
                {$presenter->context->parameters["versionWeb"]}
            </div>
        </div>
    </body>
</html>
