html, body {
	height: 100%;
	background-color: #F2F1EF;
}

h1 {
	padding-left: 10px;
}

.dashboard {
	width: 20%;
	float: left;
	height: 100%;
	background-color: #2f3239;
	min-height: 100%;
	overflow-y: hidden;
	position: fixed;
}

.dashboard ul {
	margin: 0;
	margin-top: 25px;
	padding: 0;
}

.dashboard ul li {
	background-color: #363941;
	margin-bottom: 2px;
	transition: background-color 250ms ease-out;
}

.dashboard ul li:hover, .dashboard .active {
	background-color: #434651;
	transition: background-color 250ms;
}

.dashboard ul li a {
	font-family: "Signika Negative";
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	color: #1E8BC3;
	text-decoration: none;
	padding: 20px 15px 20px 15px;
	transition: color 250ms ease-out;
}

.dashboard ul li a:hover {
	color: black;
	transition: color 250ms;
}

.dashboard .controls {
	width: 285px;
	position: absolute;
	bottom: 0;
	color: white;
	text-align: center;
	padding-bottom: 15px;
}

.logo {
	background: url("../images/logo.png") no-repeat top;
	height: 90px;
	margin-top: 25px;
	margin-left: 25px;
}

.content {
	float: left;
	min-height: 100%;
	width: 80%;
	padding-top: 35px;
	margin-left: 20%;
}

.submenu {
	background-color: #2f3239;
	position: fixed;
	width: 100%;
	margin-top: -35px;
}

.submenu:after {
	content: "";
	background: url("../images/afterSubmenu.png") no-repeat left;
	position: absolute;
	width: 10px;
	height: 10px;
}

.submenu ul {
	margin: 0;
	padding: 20px;
}

.submenu ul li {
	display: inline;
}

.submenu ul li a {
	color: #67809F;
	padding: 22px;
	margin-right: 2px;
	background-color: #363941;
	text-decoration: none;
}

.submenu ul li a:hover {
	color: #ADBDD0;
	background-color: #434651;
	transition: background-color 250ms;
}

.color-red {
	color: #E62D19;
}

.form-actions {
	margin-top: 35px;
}

.btn-primary {
	color: #fff;
	box-shadow: none;
	background-image: none;
	background-color: #428bca;
	border-color: #357ebd;
}
