html {
	text-rendering: optimizeLegibility !important;
}

.breadcrumb {
	background-color: #232323;
}

.breadcrumb > li + li:before {
	color: #3E3E3E;
}

.category {
	background-color: #232323;
	padding: 25px;
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 5px;
	transition: all 250ms ease-out;
}

.subs {
	padding: 5px 25px 15px 25px;
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	background-color: rgb(29, 29, 29);
	border-radius: 5px;
}

.subs hr {
	border-top: 1px solid #252525;
}

.category:hover {
	background-color: #262626;
}

.headerCategory {
	background-color: #191919;
	padding: 10px 25px;
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 5px;
	transition: all 250ms ease-out;
}

.post {
	background: #232323;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.post .title {
	overflow: hidden;
	font-size: 22px;
	font-family: "Signika Negative";
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.post .title .created {
	font-size: 14px;
}

.post .text {
	text-align: justify;
}

hr {
	border-top: 1px solid #3D3D3D;
}

.headerText {
	margin-top: 15px;
}

.headerText h1 {
	color: rgb(250, 250, 250);
	font-weight: 100;
}

.headerText h2 {
	font-size: 15px;
	font-weight: 100;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.topicAlert {
	width: 100%;
	z-index: 1029;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}