html {
    text-rendering: optimizeLegibility !important;
}

body {
    background-color: #181818;
    color: rgb(187, 187, 187);
}

h2 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #D6D6D6;
    text-transform: uppercase;
}

a {
    color: #27AE60;
    font-weight: 100;
    transition: all 250ms ease-out;
}

a:hover {
    color: #2EE67C;
    text-decoration: none;
}

.alert {
    position: fixed;
    width: 100%;
    z-index: 1029;
}

.modal-backdrop {
    z-index: 1029;
}

.navbar-inverse {
    background-color: #444;
    background-image: none;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    transition: border-bottom 250ms ease-out;
    font-weight: 200;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
    background-image: none;
    border-bottom: 2px solid rgb(81, 81, 81);
    box-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    border-bottom: 2px solid rgb(81, 81, 81);
    transition: border-bottom 250ms;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.form-actions {
    margin-top: 35px;
}

.btn-inverse {
    color: #fff;
    background-color: #868686;
    border-color: #797979;
}

.btn-inverse:hover {
    color: white;
    background-color: #6A6A6A;
    border-color: #707070;
}

.btn-primary {
    color: #fff;
    box-shadow: none;
    background-image: none;
    background-color: #428bca;
    border-color: #357ebd;
}

.modal .form-group {
    overflow: hidden;
}

.checkbox a {
    margin-left: -20px;
}

.header {
    background: url("../images/header.png") black no-repeat top;
    height: 150px;
    width: 100%;
    position: fixed;
    z-index: 40;
}

.wrap {
    background-color: #181818;
    position: relative;
    z-index: 40;
}

.headerFix {
    height: 150px;
}

.serverStatus {
    padding: 35px 0px 35px 0px;
}

.serverStatus .col-lg-3 {
    padding-left: 1px;
    padding-right: 1px;
}

.serverStatus ul {
    padding: 0;
}

.serverStatus li,
.serverStatus li:hover li,
.serverStatus li:hover {
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}

.serverStatus li, .panel {
    background: #232323;
    padding: 15px;
    color: #888;
    height: 220px;
}

@media (min-width: 992px) {
    .panel .onlineStatus {
        margin-top: 40px;
    }
}

.serverStatus a {
    color: #888;
    font-family: 'Lato', sans-serif;
}

.serverStatus a .Reported {
    color: #E62D19;
    float: right;
}

.serverStatus a .Verified {
    color: #F9BF3B;
    float: right;
}

.serverStatus a .Resolving {
    color: #2980b9;
    float: right;
}

.serverStatus a .Fixed {
    color: #27ae60;
    float: right;
}

.serverStatus li p {
    overflow: hidden;
    white-space: nowrap;
}

.serverStatus li p a {
    visibility: hidden;
}

.serverStatus li:hover {
    background: #383838;
    color: #COCOCO;
    text-align: left;
}

.serverStatus li:hover i {
    float: left;
    line-height: 60px;
    margin: 0 20px 0 5px;
}

.serverStatus li:hover p a {
    visibility: visible;
    color: #FFF;
}

.serverInfo, .serverUsage {
    display: block;
    vertical-align: middle;
}

.serverInfo span {
    color: #27ae60;
}

.serverInfo .Online {
    color: #27ae60 !important;
}

.serverInfo .Offline {
    color: #c0392b !important;
}

.block-article .title {
    font-family: "Signika Negative";
    font-size: 1.3em;
    text-transform: uppercase;
    min-height: 53px;
    min-height: 53px;
}

.block-article .title a {
    color: #27AE60;
    font-weight: 100;
    transition: all 250ms ease-out;
}

.block-article .title a:hover {
    color: #2EE67C;
}

.block-article .articleInfo {
    font-size: 12px;
    text-transform: none;
    margin-bottom: 15px;
}

.comments {
    margin-top: 50px;
}

.redPoint, .greenPoint {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    margin-top: 10px;
    margin-right: 25px;
}

.redPoint {
    background-color: #c0392b;
}

.greenPoint {
    background-color: #27ae60;
}

#info, #characters, #settings {
    margin-top: 1%;
}

.avatar {
    width: 100%;
}

.hero-unit .btn a {
    color: white;
}

.subfooter {
    margin-top: 60px;
    /*background-color: #eee;*/
    background-color: #181818;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    background-color: #444;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(174, 174, 174);
    font-weight: 300;
}

.footerLogo {
    background: url("../images/logo.png") no-repeat left;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    margin-top: -75px;
    padding-bottom: 120px;
    position: relative;
    z-index: 50;
}

.progressBar {
    overflow: hidden;
    font-family: "Signika Negative";
    font-size: 18px;
}

.progressBar .alliance,
.progressBar .horde,
.progressBar .neutral {
    color: white;
    font-weight: 100;
    width: 100%;
    font-size: 14px;
    padding-top: 2px;
    text-shadow: 0px 1px 1px black;
    font-family: 'Lato', sans-serif;
}

.progressBar .alliance {
    background-color: #3498db;
    float: left;
    height: 25px;
    text-align: center;
    border-radius: 3px;
    border-bottom: 2px solid rgb(1, 73, 116);
}

.progressBar .horde {
    background-color: #c0392b;
    float: left;
    height: 25px;
    text-align: center;
    border-radius: 3px;
    border-bottom: 2px solid rgb(116, 1, 1);
}

.progressBar .neutral {
    background-color: #D2D7D3;
    float: left;
    height: 25px;
    text-align: center;
    border-bottom: 2px solid #6C6C6C;
}

.emailVerification {
    display: none;
}

.register .add-on {
    display: none;
}

.showLink, .showCharLink {
    display: none;
    font-size: 12px;
}

.profileAnchor {
    color: #B7B7B7;
}

.profileAnchor:hover {
    cursor: pointer;
    color: rgb(79, 79, 79);
}

.block-article .article {
    background-color: #232323;
    padding: 25px;
}

.block-article .comment {
    background-color: #1B1B1B;
    padding: 25px;
    margin-bottom: 5px;
}

.modal {
    color: rgb(51, 51, 51);
}

.modal a {
    color: rgb(51, 122, 183);
    font-weight: 300;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #8D8D8D;
    background-color: #313131;
    border: 1px solid #464646;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a:hover {
    border-color: #464646 #464646 #464646;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #313131;
}

.nav-tabs {
    border-bottom: 1px solid #313131;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #313131;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #464646;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #2B2B2B;
}

.headerText {
    margin-top: 15px;
}

.headerText h1 {
    color: rgb(250, 250, 250);
    font-weight: 100;
    transition: all 250ms ease-out;
}

.headerText h2 {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: all 250ms ease-out;
}

.headerText a:hover h1,
.headerText a:hover h2 {
    text-shadow: 0px 0px 15px white;
}

.changelogStatus a:hover {
    text-decoration: underline;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #999;
    background-color: #313131;
    border-color: #464646;
    cursor: not-allowed;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #26AE60;
    background-color: #313131;
    border: 1px solid #464646;
    margin-left: -1px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #2E4F6B;
    border-color: #428bca;
    cursor: default;
}

.bar {
    margin-top: 15px;
    overflow: hidden;
    float: left;
}

.bar .health {
    background-color: #25AE60;
    float: left;
    text-align: center;
    border-radius: 3px;
    padding: 5px 25px;
    border-bottom: 2px solid rgb(27, 135, 74);
    text-shadow: 0px 1px 1px black;
    color: rgb(232, 232, 232);
    font-weight: 200;
}

.bar .mana {
    background-color: #3498db;
    float: left;
    text-align: center;
    border-radius: 3px;
    padding: 5px 25px;
    border-bottom: 2px solid rgb(1, 73, 116);
    text-shadow: 0px 1px 1px black;
    color: rgb(232, 232, 232);
    font-weight: 200;
    margin-left: 5px;
}

.bar .rage {
    background-color: #c0392b;
    float: left;
    text-align: center;
    border-radius: 3px;
    padding: 5px 25px;
    border-bottom: 2px solid rgb(116, 1, 1);
    text-shadow: 0px 1px 1px black;
    color: rgb(232, 232, 232);
    font-weight: 200;
    margin-left: 5px;
}

.bar .focus {
    background-color: #dbd238;
    float: left;
    text-align: center;
    border-radius: 3px;
    padding: 5px 25px;
    border-bottom: 2px solid rgb(123, 118, 31);
    text-shadow: 0px 1px 1px black;
    color: rgb(232, 232, 232);
    font-weight: 200;
    margin-left: 5px;
}

.account.table > thead > tr > th,
.account.table > tbody > tr > th,
.account.table > tfoot > tr > th,
.account.table > thead > tr > td,
.account.table > tbody > tr > td,
.account.table > tfoot > tr > td {
    border-top: 0px !important;
}

.armory a .icon {
    width: 56px;
    height: 56px;
    left: 6px;
    top: 6px;
    float: left;
    margin-right: 5px;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
}

.topstatus {
    margin-top: 40px;
}

.status.table > thead > tr > th,
.status.table > tbody > tr > th,
.status.table > tfoot > tr > th,
.status.table > thead > tr > td,
.status.table > tbody > tr > td,
.status.table > tfoot > tr > td {
    border-top: 0px !important;
}

.status.table-striped > tbody > tr:nth-child(odd) > td,
.status.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #1D1D1D;
}

.post {
    margin-bottom: 4px;
}

.video {
    width: 100% !important;
    height: auto !important;
}

.video iframe, .video object, .video embed {
    height: 500px;
}

.info {
    padding: 20px 0px 0px 80px;
    float: left;
}

.info .totalKills,
.info .totalHonors,
.info .totalUptime {
    float: left;
    padding-right: 30px;
}

.infoHint {
    border: 1px solid rgb(230, 41, 35);
    background-color: rgb(159, 28, 24);
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 200;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-bottom: 13px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .mainArticle {
        margin-left: 50px;
    }
}

@media (max-width: 650px) {
    .header {
        box-shadow: inset 0px 0px 300px black;
    }

    table {
        border: none !important;
    }

    .post .col-md-3 {
        float: left;
    }

    .col-md-4 {
        float: none !important;
    }

    .readmore {
        display: block;
    }
}

@media (max-width: 768px) {
    .col-md-4 {
        float: left;
    }

    .post .col-md-3 {
        float: left;
    }
}

.island {
    padding-top: 40px;
    padding-bottom: 40px;
}

.island-small {
    padding-top: 20px;
    padding-bottom: 20px;
}

.island-bottom {
    padding-top: 0px;
}

.island-top {
    padding-bottom: 0px;
}

.img-responsive.img-center {
    margin: 0 auto;
}

.form-control-error {
    border: 0.1px solid #e62923;
    box-shadow: 0px 0px 14px #e62923;
}

.form-error-message {
    color: #e62923;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}